<header>
  <h2>Add Personal</h2>
</header> <!--force unwrapping because angular wanted me too -->
<form [formGroup] = 'newMediaItem'
(ngSubmit) = "onSubmit()">
  <ul>
    <li>
      <mat-form-field appearance="fill">
      <mat-label >Job</mat-label>
      <mat-select  id="job" formControlName="job">
        <mat-option value="teacher">Teacher</mat-option>
        <mat-option value="student">Student</mat-option>
      </mat-select>
      </mat-form-field>
    </li>
    <li>
      <mat-form-field appearance="fill">
      <mat-label>Full Name</mat-label>
      <input matInput type="text" name="name" id="name" formControlName="name">
      </mat-form-field>
    </li>
    <li>
      <mat-form-field appearance="fill">
      <mat-label >Position</mat-label>
      <mat-select  id="category" formControlName="category">
        <mat-option value="Programming">Programming</mat-option>
        <mat-option value="Networking">Networking</mat-option>

      </mat-select>
      </mat-form-field>
    </li>
    <li>
      <mat-form-field appearance="fill">
      <mat-label>Graduation Year</mat-label>
      <input matInput type="text" name="year" id="year" maxlength="4" formControlName="year">
      </mat-form-field>
    </li>
  </ul>

    <button mat-raised-button color="warn" type="submit">Submit</button>


</form>


